@charset "utf-8";
/* 订单页面CSS Document */

form{width:100%;}
.col-sm-12 {
    width: 100%;
}
.col6.tablerow {
    width: 80%;
    margin: 15px auto;
}
label.col3.text-center,label.col2 {
    font-weight: bold;
}
input.form-control {
    width: 100%;
    height: 35px;
    border: 1px solid #9E9E9E;
    background: rgba(208, 202, 202, 0.62);
}
.col8 {
    margin-top: 8px;
}
.text-center.dshfajha {
    width: 100%;
    line-height: 45px;
}
select.form-control {
    width: 50%;
    height: 35px;
}
label.col12.text-center {
    width: 100%;
    line-height: 45px;
    display: block;
    text-indent: 40px;
    font-weight: bold;
}

textarea.form-control {
    width: 90%;
    height: 200px;
    margin: 0 5%;
    padding-left: 5px;
    line-height: 25px;
}
.col11.-jgurjgje {
    width: 100%;
    height: 50px;
}
input#bnext {
    width: 98%;
    height: 40px;
    background: #8cec1c;
    border: 1px solid #4CAF50;
    border-radius: 8px;
    margin: 0px 1%;
}