@charset "utf-8";
/* CSS Document */

.userxx {
    width: 95%;
    margin: 8px auto;
    background: #fff;
    border: 1px solid #ccc;
}

.userxx img{width:80px;height:80px;border-radius:80px;float:left;border:1px solid #000;margin:1% 3%;}

.timu{width:100%;background:#fff;}

.timu .timutit{width:98%;margin:0 auto;line-height:35px;background:#54b143;border:1px solid #54b143;color:#fff;display:block;}

.kaoshikuang{width:98%;margin:0 auto;border:1px solid #ccc;}

p.macmaintit {
    font-size: 18px;
    font-weight: bold;
}

.description_text.lazybox{width:100%;}
.description_text.lazybox img{width:80%;margin:4% 10%;}

.description.remark {
    width: 100%;
    line-height: 35px;
    display: block;
    text-align: center;
    background: #ccc;
    color: #26292B;
}

p.ddxyt.info {
    width: 100%;
    line-height: 35px;
    display: block;
    background: #8cec1c;
	margin: 20px auto;
}


input.syt.survey_prevpage,input.syt.survey_nextpage.ces,input.syt.ksjs {
    width: 50px;
    line-height: 25px;
    background: #FFF;
    border: 1px solid #0674cc;
    border-radius: 5px;
}

input.syt.zank {
    width: 100px;
    line-height: 25px;
}