@charset "utf-8";
/* CSS Document */

.lis {
    width: 100%;
    line-height: 40px;
    float: left;
    text-indent: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
div.qtxxlb {
    width: 100%;
    margin-top: 10px;
    float: left;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 2px #ccc;
}
div.qtxxlb img{width:30%;height:100px;float:left;}
div.lists {
    width: 60%;
    float: left;
    margin-left: 5%;
}
div.listx {
    width: 60%;
    float: right;
    margin: -18px -35% 0px 0px;
}

div.listx input[type="button"] {
    width: 90px;
    height: 25px;
}