@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
}

.musicbody {
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    background: url(./images/banner_bg.jpg) no-repeat;
    width: 960px;
    height: 250px;
    position: absolute;
    top: 100px;
    left: 15%;
    border: 2px solid #333;
    border-radius: 20px;
    animation: anim1 2s linear;
}

.nav ul li {
    list-style: none;
    float: left;
}

.nav ul li img {
    border-radius: 150px;
    position: absolute;
    top: 0 xp;
    animation: anim2 4s cubic-bezier(0.86, 0.15, 1, 0.44);
}

.rotate {
    -webkit-animation: rota 2s linear infinite;
}

@keyframes anim1 {
    0% {
        left: -100%;
        transform: scale(0.5)
    }
    50% {
        transform: scale(1)
    }
    75% {
        transform: scale(1.2)
    }
    100% {
        left: 15%;
        transform: scale(1)
    }
}

@keyframes anim2 {
    0% {
        top: -100%;
        transform: scale(0.5)
    }
    50% {
        transform: scale(1)
    }
    75% {
        transform: scale(1.2)
    }
    100% {
        top: 0px;
        transform: scale(1)
    }
}

@-webkit-keyframes rota {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav ul li.img1 {
    width: 50px;
    height: 50px;
    margin: 90px 0px 0px 8px
}

.nav ul li.img2 {
    width: 84px;
    height: 84px;
    margin: 130px 0px 0px 20px
}

.nav ul li.img3 {
    width: 145px;
    height: 145px;
    margin: 52px 0px 0px 132px
}

.nav ul li.img4 {
    width: 78px;
    height: 78px;
    margin: 35px 0px 0px 50px
}

.nav ul li.img5 {
    width: 45px;
    height: 45px;
    margin: 120px 0px 0px 30px
}

.nav ul li.img1 img {
    width: 50px;
    height: 50px;
}

.nav ul li.img2 img {
    width: 84px;
    height: 84px;
}

.nav ul li.img3 img {
    width: 145px;
    height: 145px;
}

.nav ul li.img4 img {
    width: 78px;
    height: 78px;
}

.nav ul li.img5 img {
    width: 45px;
    height: 45px;
}

/*音乐播放器部分*/
.music {
    width: 500px;
    height: 115px;
    border-radius: 0px 10px 10px 0px;
    background: #000;
    position: fixed;
    top: 380px;
    left: 0px;
}

.music img {
    height: 95px;
    width: 95px;
    border-radius: 95px;
    margin: 10px;
    float: left;
}

.btn {
    position: absolute;
    height: 40px;
    width: 130px;
    float: left;
    margin: 38px 300px;
}

.music .tit {
    color: #fff;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin: 45px 10px;
    float: left;
}

.music .jdt {
    width: 340px;
    height: 3px;
    background: #333;
    position: absolute;
    left: 110px;
    top: 80%;
}

.music .jdj {
    width: 0px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 110px;
    top: 80%;
}

.btn .shang {
    width: 20px;
    height: 20px;
    margin: 12px 10px;
    background: url(images/player_bg.png) no-repeat -76px -4px;
    float: left;
}

.btn .play {
    width: 30px;
    height: 34px;
    margin: 5px 10px;
    background: url(images/player_bg.png) no-repeat -110px -4px;
    float: left;
}

.btn .xia {
    width: 20px;
    height: 20px;
    margin: 12px 10px;
    background: url(images/player_bg.png) no-repeat -155px -4px;
    float: left;
}

.btn .shang:hover {
    background: url(images/player_bg.png) no-repeat -76px -36px
}

.btn .play:hover {
    background: url(images/player_bg.png) no-repeat -110px -46px
}

.btn .xia:hover {
    background: url(images/player_bg.png) no-repeat -155px -36px
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 115px;
    border-radius: 0px 8px 8px 0px;
    float: right;
    background: url(images/player_bg.png) no-repeat -47px 0px;
}

.close:hover {
    background: url(images/player_bg.png) no-repeat -2px 0px
}

.open {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 115px;
    border-radius: 0px 8px 8px 0px;
    background: url(images/player_bg.png) no-repeat -47px 0px;
}

.open:hover {
    background: url(images/player_bg.png) no-repeat -24px 0px
}

.stop {
    width: 30px;
    height: 34px;
    margin: 5px 10px;
    background: url(images/player_bg.png) no-repeat -297px -92px;
    float: left;
}

.stop:hover {
    background: url(images/player_bg.png) no-repeat -340px -92px;
}