@charset "utf-8";
/* 公共部分CSS Document */

*{margin:0;padding:0;}
body{
	background:#fff;
	max-width:800px;margin:0 auto;
	position: relative;
	}
a{text-decoration:none;}
	
/*侧边菜单栏*/
#cbl-style {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 1;
}
ul#cbl-nav {
    width: 200px;height: 100%;
    background: #000;position:fixed;
	left:-200px;top:0;
    float: left;
    box-shadow: -10px 0px 15px rgba(206, 211, 216, 0.78) inset;
}
ul#cbl-nav li {
    list-style: none;
    width: 200px;
    line-height: 40px;
	color: #fff;
    border-bottom: 1px solid #fffcfc;
    border-top: 1px solid #868282;
}
ul#cbl-nav li a{display:block;width:200px;line-height:40px;text-align:center;text-decoration:none;color:#fff;}
/*头部样式*/
header {
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #0674cc;
	background:#00BCD4;
	}
a.title {
    width: 50%;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 2%;
    right: 2%;
    margin: 0 auto;
}
a#navmenu {
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    }
a#navmenu img {
    width: 40px;
    height: 40px;
}

a#sdhx {
    width: 40px;
    height: 40px;
    display: block;
    float: right;
    color: #fff;
}


