<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>页面站点标题</title>
    <meta name="keywords" content="#(SEO_KEYWORDS ??)">
    <meta name="description" content="#(SEO_DESCRIPTION ??)">
    <meta name="template" content="Perfree-Simple">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- 引入资源文件 -->
    <!-- ico -->
    <link rel="icon" type="image/ico" href="#option('perfree_logo' ??)">
    <link rel="stylesheet" href="static/plugin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="static/plugin/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="static/css/style.css" media="all">
    <link rel="stylesheet" href="static/theme/white.css" media="all">
    <link rel="stylesheet" href="static/theme/#option('page_theme_style').css" media="all">
    <!-- 代码样式 -->
    <link rel="stylesheet" href="static/plugin/highlight/styles/#option('page_code_style','vs').css" media="all">
    <script src="static/plugin/jquery/jquery-3.2.1.min.js"></script>
    <script src="static/plugin/layer/layer.js"></script>
    <script src="static/plugin/layui/layui.js"></script>
    <script src="static/plugin/pjax/pjax.js"></script>
    <script src="static/js/perfree.js"></script>
    <!-- 如后台配置了音乐播放器，则引入播放器文件 -->
    <link rel="stylesheet" href="static/plugin/music/APlayer.min.css">
    <script src="static/plugin/music/APlayer.min.js"></script>
    <script src="static/plugin/music/Meting.min.js"></script>
    <!-- 自定义网页头部代码 -->
    <!-- #option('page_head_code' ??) -->
    <!-- 自定义css代码 -->
    <!-- #option('page_css_code' ??) -->
</head>

<body id="web-body">
    <!-- #if(option('page_background_color') != null) -->
    <script>$("#web-body").css("background-color", "#option('page_background_color')");</script>
    <!-- #end -->
    <!-- #if(option('page_bacground-img') != null) -->
    <script>$("#web-body").css("background-image", "url(#option('page_bacground-img'))");</script>
    <!-- #end -->
    <div style="overflow-x: hidden;min-height: 100%;">
        <!-- 引入顶部导航栏 -->
        <!-- 导航栏部分 -->
        <div class="header layui-bg-cyan pc-header">
            <div class="layui-container">

                <!-- 导航栏logo及文字start -->
                <a class="logo-box pjax" href="/">
                    <i class="fa fa-#option('page_logo_icon' ??) fa-lg"></i>
                    <span> #(WEB_NAME ??)</span>
                </a>
                <!-- 导航栏logo及文字end -->

                <!-- 导航栏菜单start -->
                <ul class="layui-nav layui-bg-cyan" lay-filter="">
                    #for(menu : MENUS)
                    <li class="layui-nav-item" lay-unselect>
                        <a href="#(menu.url == null ? 'javascript:;':menu.url)" class="pjax"><i
                                class="fa fa-#(menu.icon ??)"></i> #(menu.text ??)</a>
                        #if(menu.hasChild())
                        <dl class="layui-nav-child">
                            #for(childMenu : menu.getChilds())
                            <dd lay-unselect><a href="#(WEB_DOMAIN ??)#(childMenu.url ??)" class="pjax">
                                    #(childMenu.text ??)</a></dd>
                            #end
                        </dl>
                        #end
                    </li>
                    #end
                    #if(USER == null)
                    <li class="layui-nav-item login-box" lay-unselect>
                        <a href="#(WEB_DOMAIN ??)/user/login" class="login-btn pjax"> 登录</a>|
                        <a href="#(WEB_DOMAIN ??)/user/register" class="register-btn pjax"> 注册</a>
                    </li>
                    #else
                    <li class="layui-nav-item">
                        <a><img src="#(USER.avatar??)" class="layui-nav-img">#(USER.nickname??)</a>
                        <dl class="layui-nav-child">
                            <dd lay-unselect>
                                <a href="/ucenter" target="_blank">个人中心</a>
                            </dd>
                            <dd lay-unselect>
                                <a href="/ucenter/pwd" target="_blank">修改密码</a>
                            </dd>
                            <dd class="header-logout" lay-unselect>
                                <a href="#(WEB_DOMAIN ??)/ucenter/doLogout?csrf_token=#(CSRF_TOKEN)"> 退出登录 </a>
                            </dd>
                        </dl>
                    </li>
                    #end
                </ul>
                <!-- 导航栏菜单end -->
            </div>
        </div>
        <!--移动端header-->
        <div class="phone-header layui-bg-cyan">
            <a href="javascript:;" class="phone-open-nav-btn">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
            <!-- 导航栏logo及文字start -->
            <a class="logo-box pjax" href="/">
                <i class="fa fa-#option('page_logo_icon' ??) fa-lg"></i>
                <span> #(WEB_NAME ??)</span>
            </a>
            <!-- 导航栏logo及文字end -->

            <a class="phone-setting-btn">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
            <!--移动端设置容器-->
            <div class="phone-setting-box">
                <div class="phone-search-form">
                    <form action="/article/search">
                        <input type="text" name="keyword" required placeholder="请输入关键字" autocomplete="off">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <div class="phone-my-message-box">
                    #if(USER == null)
                    <a href="#(WEB_DOMAIN ??)/user/login" class="login-btn"> 登录</a>
                    <span class="my-message-tarde">|</span>
                    <a href="#(WEB_DOMAIN ??)/user/register" class="register-btn"> 注册</a>
                    #else
                    <a href="#(WEB_DOMAIN ??)/ucenter" class="my-name-img"><img src="#(USER.avatar??)"
                            class="layui-nav-img">#(USER.nickname??)</a>
                    #end
                </div>
            </div>
        </div>
        <!--移动端菜单-->
        <div class="phone-nav-box">
            <ul class="layui-nav layui-nav-tree layui-nav-side layui-bg-cyan" lay-filter="">
                #for(menu : MENUS)
                <li class="layui-nav-item" lay-unselect>
                    #if(menu.hasChild())
                    <a href="#(menu.url == null ? 'javascript:;':menu.url)" class="pjax"><i
                            class="fa fa-#(menu.icon ??)"></i> #(menu.text ??)</a>
                    #else
                    <a href="#(menu.url == null ? 'javascript:;':menu.url)" class="pjax nav-link"><i
                            class="fa fa-#(menu.icon ??)"></i> #(menu.text ??)</a>
                    #end
                    #if(menu.hasChild())
                    <dl class="layui-nav-child">
                        #for(childMenu : menu.getChilds())
                        <dd lay-unselect><a href="#(WEB_DOMAIN ??)#(childMenu.url ??)" class="pjax nav-link">
                                #(childMenu.text ??)</a></dd>
                        #end
                    </dl>
                    #end
                </li>
                #end
            </ul>
        </div>

        <!-- 内容部分start -->
        <div class="layui-container perfree-content layui-anim-up">
            <!-- 一言组件手机端，电脑端不展示start -->
            <div class="layui-card phone-yiyan-box">
                <div class="layui-card-body page-title-body">
                    <h2>#(WEB_NAME ??)</h2>
                    <div>
                        <script type="text/javascript"
                            src="https://api.lwl12.com/hitokoto/v1?encode=js&charset=utf-8"></script>
                        <span id="lwlhitokoto">
                            <script>lwlhitokoto()</script>
                        </span>
                    </div>
                </div>
            </div>
            <!-- 一言组件手机端，电脑端不展示end -->
            <!-- 引入内容 -->
            #@content()
            <!-- 引入右侧边栏 -->
            #include("./_rightBar.html")
        </div>
        <!-- 引入底栏 -->
        #include("./_footBar.html")
    </div>
    <!-- 内容部分end -->
    <!-- 遮罩start -->
    <div class="mask"></div>
    <!-- 遮罩end -->
    <script id="load-js-code">
        //初始化layui,返回顶部按钮
        layui.use(['util', 'element'], function () {
            var util = layui.util, element = layui.element;;
            util.fixbar({});
        });
        $('.tag').each(function () {
            $(this).css("background-color", getRandomColor());
        })
        function getRandomColor() {
            return '#' + (Math.random() * 0xffffff << 0).toString(16);
        }
    </script>
    #if(option('page_pjax') == null || option('page_pjax') == true)
    <script>
        //设置pjax
        var pjax = new Pjax({
            elements: ".pjax,form",
            cacheBust: false,
            debug: false,
            selectors: [
                "title",
                "meta[name=description]",
                "meta[name=keywords]",
                ".loadJs",
                ".perfree-content-left",
                ".right-hot-article-box",
                ".right-hot-tag",
                ".layui-footer",
                ".header-logout",
                "#load-js-code"
            ]
        })
        var index;
        document.addEventListener('pjax:send', function () {
            index = layer.load();
        });
        document.addEventListener('pjax:success', function () {
            layer.close(index);
        });
        document.addEventListener('pjax:error', function () {
            layer.msg("系统出现问题,请刷新网页");
        });
    </script>
    #end
    <!-- 自定义js代码 -->
    #option('page_js_code' ??)
</body>

</html>