@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body{background:#FC0;}
.loading{width:100%;height:100%;background:rgba(0,0,0,0.5);position:fixed;top:0px;left:0px;}
.loading ul.mubu{width:140px;height:140px;;margin:250px auto;

-webkit-transform-style:preserve-3D;/*设置3D幕布样式*/
animation:zqq 4s linear infinite;}
@-webkit-keyframes zqq{
	from{-webkit-transform:rotateX(-8deg)rotateY(0deg) rotateZ(-8deg)}
	to{-webkit-transform:rotateX(8deg)rotateY(360deg)rotateZ(8deg)}
	}
.loading ul.mubu li{list-style: none;width: 140px;height: 140px;background:rgba(0, 188, 212, 0.23);border-width: 2px;border-style: solid;border-color: #009688;position:absolute;box-shadow:0 0 50px rgb(153,249,255);}
.loading ul.mubu li:nth-child(1){
    -webkit-transform:translate3d(70px,0px,0px) rotateY(90deg);
  }
.loading ul.mubu li:nth-child(2){
    -webkit-transform:translate3d(-70px,0px,0px) rotateY(90deg);
  }
.loading ul.mubu li:nth-child(3){
    -webkit-transform:translate3d(0px,0px,-70px) rotateY(0deg);
  }
.loading ul.mubu li:nth-child(4){
    -webkit-transform:translate3d(0px,70px,0px) rotateX(90deg);
  }
.loading ul.mubu li:nth-child(5){
    -webkit-transform:translate3d(0px,-70px,0px) rotateX(90deg);
  }
.loading ul.mubu li:nth-child(6){
    -webkit-transform:translate3d(0px,0px,70px) rotateX(0deg);
  }
.loading ul.mubu li:nth-child(7){
    -webkit-transform:translate3d(0px,0px,0px) rotateX(0deg);background:#03A9F4;line-height:140px;color:#fff;font-size:30px;text-align:center;border:none;background:none;box-shadow:none;
  }
