@charset "gb2312";
/******************************************************************************* 
***************************追梦手游-网站首页************************************
此CSS样式为追梦小窝所有, 本样式是模仿的http://android.d.cn(当乐手游网)如果使用请
注明来源，请尊重作者版权，所有的东西都来之不易。如果你有其他意见或者建议请联系我
的QQ：442246396。***************************************************************
***************************写于2016年6月1日*************************************
*******************************************************************************/
.content{width:1200px;background:#333;margin:15px auto;}
.content .bk1{height:360px;}
.content .bk2{height:450px;margin:20px auto;}
.content .bk3{height:150px;background:#fff;}
.content .bk4{height:290px;background:#fff;margin:20px auto;}
.content .bk5{height:595px;background:#fff;}
/*轮播图开始*/
.content .bk1 .banner{position:relative;width:860px;height:360px;background:#fff;float:left;overflow:hidden;}
.content .bk1 .banner a.next{position:absolute;right:0;width:50px;height:80px;top:140px;}
.content .bk1 .banner a.next:hover {text-decoration:none;background:#009688}
.content .bk1 .banner a.next i{background:url(images/sprite.png) no-repeat;background-position: -101px -81px;display: block;width:25px;height:48px;margin:15px 0 0 15px;opacity: 0.6;}
.content .bk1 .banner a.prev{position:absolute;left:0;width:50px;height:80px;top:140px;}
.content .bk1 .banner a.prev:hover {text-decoration:none;background:#009688}
.content .bk1 .banner a.prev i{background:url(images/sprite.png) no-repeat;background-position: -101px -129px;display: block;width:25px;height:48px;margin:15px 0 0 15px;opacity: 0.6;}
.content .bk1 .banner ul{position:absolute;width:3440px;height:360px;}
.content .bk1 .banner ul li{position:relative;width:860px;height:360px;float:left}
.content .bk1 .banner ul li a{display:block}
.content .bk1 .banner ul li a span.spbg{position:absolute;left:0;bottom:0;display:block;width:860px;height:120px;background:url(images/span.png) no-repeat}
.content .bk1 .banner ul li a span.sptxt{position:absolute;width:820px;padding:0 20px;height:58px;left:0;bottom:0;line-height:58px;color:#fff;font-size:24px;text-shadow:2px 2px rgba(0, 0, 0, 0.3);z-index:2;}
/*轮播图结束*/


/*bk1板块1样式*/
.content .bk1 .tuijian{width:320px;height:360px;background:#fff;float:right;}

.content .bk1 .tuijian .title1{padding:10px 15px 10px 15px;height:30px;}
.content .bk1 .tuijian .title1 h2.shoufa{line-height:30px;background:url(images/sprite.png) no-repeat;float: left;background-position:-126px -30px;padding-left:42px;font-size: 20px;font-weight: normal;}

.content .bk1 .tuijian .sfapk{padding:15px 10px 0 15px;border:1px #e5e5e5 solid;border-width:1px 0;}
.content .bk1 .tuijian .sfapk .sfapk-des{width:295px;height:80px;}
.content .bk1 .tuijian .sfapk .sfapk-des .sfapk-icon{float:left;width:80px;height:80px;margin-right:10px;}
.content .bk1 .tuijian .sfapk .sfapk-des .sfapk-icon img{width:80px;height:80px;}
.content .bk1 .tuijian .sfapk .sfapk-des .sfapk-tit{font-size:16px;font-weight:blod;line-height:24px;}
.content .bk1 .tuijian .sfapk .sfapk-des .sfapk-txt{font-size:14px;color:#888;line-height:19px;}
.content .bk1 .tuijian .sfapk .sfapk-more{width:295px;height:32px;}
.content .bk1 .tuijian .sfapk .sfapk-more .sfapk-btn{width:54px;height:32px;float:right;}
.content .bk1 .tuijian .sfapk .sfapk-more .sfapk-btn .sfapk-down{float:left;width:26px;height:25px;display:inline;margin-left:1px;background:url(images/sprite.png) no-repeat;background-position:-20px -145px;}
.content .bk1 .tuijian .sfapk .sfapk-more .sfapk-btn .sfapk-love{float:left;width:26px;height:25px;display:inline;margin-left:1px;background:url(images/sprite.png) no-repeat;background-position:-47px -145px;}
.content .bk1 .tuijian .sfapk .sfapk-more .sfapk-btn .sfapk-love:hover{background-position: -47px -120px;}
.content .bk1 .tuijian .sfapk .sfapk-more .sfapk-btn .sfapk-down:hover{background-position: -20px -120px;}

.content .bk1 .tuijian .about{background-color:#f8f8f8;}
.content .bk1 .tuijian .about h3{display:block;padding-left:10px;font-size:20px;color:#444;line-height:49px;border-bottom:1px #ebebeb solid;margin:0 1px;}
.content .bk1 .tuijian .about h3 i{background:url(images/sprite.png) no-repeat;float:left;width: 20px;height: 20px;margin: 16px 11px 0 0;background-position: -106px -60px;}
.content .bk1 .tuijian .about h3 em{font-style:normal;color:#ff7800;}
.content .bk1 .tuijian .about h3 span{padding-left: 20px;font-size: 16px;color: #888;}
.content .bk1 .tuijian .about ul.about-list{padding-left: 12px;border-width: 1px;border-color: #fff #f8f8f8 #f8f8f8;border-style: solid;}
.content .bk1 .tuijian .about ul.about-list li{float: left;padding: 16px 0 0;width: 98px;height: 109px;overflow: hidden;border-right: 1px #eaeaea solid;border-left: 1px #fff solid;text-align: center;}
.content .bk1 .tuijian .about ul.about-list li .list-link img{border: none;vertical-align: middle}
.content .bk1 .tuijian .about ul.about-list li .list-link span{display:block;padding-top:12px;font-size:13px;}
.content .bk1 .tuijian .about ul.about-list li.list-first{border-left: none;}
.content .bk1 .tuijian .about ul.about-list li.list-last{border-right: none;}

/*bk2板块2样式*/
.content .bk2 .zuo{float:left;width:860px;height:450px;background:#fff}
.content .bk2 .zuo-top{padding:10px 15px 10px 15px;height: 30px;}
.content .bk2 .zuo-top h2.title{line-height:30px;float: left;padding-left: 42px;font-size: 20px;background:url(images/sprite.png) no-repeat;background-position: -126px 0px;font-weight: normal;}
.content .bk2 .zuo-top p.more{float: right;display: inline;margin-right: 10px;line-height: 30px;font-size: 14px;}
.content .bk2 .zuo-top p.more a{float: left;color: #555;}
.content .bk2 .zuo-top p.more span.bkx{float: left;background:url(images/sprite.png) no-repeat;background-position: -142px -270px;width: 20px;height: 30px;vertical-align: bottom;}
.content .bk2 .zuo-bottom{padding: 5px 0 5px 15px;width:860px;height:390px;}
/*bk2板块2上左图片滑动jQuery显示应用*/
.content .bk2 .zuo-bottom .thumb{position: relative;width: 410px;height: 250px;overflow: hidden;border: none;float: left;margin: 0 10px 10px 0;}
.content .bk2 .zuo-bottom .thumb a.thumbimg{position: absolute;width: 410px;height: 250px;z-index: 10;}
.content .bk2 .zuo-bottom .thumb a.thumbimg img{width: 410px;height: 250px;}
.content .bk2 .zuo-bottom .thumb a.thumbapp{width: 390px;text-align: left;font-size: 16px;position: absolute;left: 0;bottom: 0;padding: 0 10px;color: #fff;line-height: 30px;z-index: 11;height:30px;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;text-align: left;}

.content .bk2 .zuo-bottom .thumb .mod-cover {position: absolute;width: 100%;height: 30px;left: 0;bottom: 0;background-color: #41474e;opacity: 0.8;z-index: 10;}

.content .bk2 .zuo-bottom .thumb .thumb-des{position: absolute;bottom: 0;left: 0;z-index: 9;padding: 15px 0 0 20px;width: 390px;background-color: #1f272b;height: 125px;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-app-icon {float: left;width: 72px;height: 72px;margin-right: 10px;position: relative;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-app-icon i {position: absolute;width: 72px;height: 72px;top: 0;left: 0;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-app-icon img {border-radius: 18px;width: 72px;height: 72px;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-tips {overflow: hidden;zoom: 1;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-tips .tips {font-size:14px;padding-bottom: 5px;color: #c4c4c4;overflow: hidden;zoom: 1;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-tips .star-grey {margin-bottom: 11px;background:url(images/sprite.png) no-repeat;background-position: -20px -213px;float: left;width: 68px;height: 12px;position: relative;font-size: 0;line-height: 0;vertical-align: baseline;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-tips .star-grey .star-light {background:url(images/sprite.png) no-repeat;background-position: -20px -199px;float: left;width: 68px;height: 12px;position: relative;font-size: 0;line-height: 0;vertical-align: baseline;width: 54px!important;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-tips .thumb-down {display: block;clear: left;width: 100px;height: 36px;line-height: 36px;font-size: 16px;color: #fff;text-align: center;background-color: #ff6e00;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-func .coll-love {background:url(images/sprite.png) no-repeat;background-position: -20px -0px;top: 64px;position: absolute;height: 36px;width: 36px;right: 22px;}

.content .bk2 .zuo-bottom .thumb .thumb-des .thumb-tri {left: 49px;bottom: 30px;position: absolute;border-width: 0 8px 8px;font-size: 0;line-height: 0;height: 0;width: 0;border-color: transparent transparent #41474e;border-style: dashed dashed solid;opacity: 0.8;}

/*bk2板块2上右列表*/
.content .bk2 .zuo-bottom .mod-list li {
    float: left;
	width: 198px;
    position: relative;
    margin: 0 10px 10px 0;
    height: 118px;
    border: 1px #f1f1f1 solid;
    background-color: #fff;
}

.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap {
    margin: 1px;
    padding: 2px 8px 0;
    height: 114px;
    overflow: hidden;
    background-color: #fff;
    overflow: hidden;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap a.mode-app-name {
    height: 31px;
    display: block;
    height: 31px;
    overflow: hidden;
    font-size: 15px;
    line-height: 31px;
    word-break: break-all;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app a.mode-app-icon {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 9px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app a.mode-app-icon img {
    width: 72px;
    height: 72px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des {
    position: relative;
    top: -2px;
    overflow: hidden;
    color: #888;
    line-height: 1.3;
    zoom: 1;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .star-wrap .star-grey{
	background:url(images/sprite.png) no-repeat;
	background-position: -20px -213px;
	float: left;
    width: 68px;
    height: 12px;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: baseline;
	}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .star-wrap .star-grey .star-light{
	background:url(images/sprite.png) no-repeat;
	background-position: -20px -199px;
	float: left;
    width: 68px;
    height: 12px;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: baseline;
	width: 54px!important;
	}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .star-wrap .star-light:after {
    content: "";
    display: table;
    clear: both;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func{
    padding-top: 4px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func:after {
    content: "";
    display: table;
    clear: both;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .mod-coll {
    float: right;
    width: 54px;
    height: 25px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .mod-coll .coll-down {
	background:url(images/sprite.png) no-repeat;
    background-position: -20px -145px;
	float: left;
    width: 26px;
    height: 25px;
    display: inline;
    margin-left: 1px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .mod-coll .coll-down:hover {
    background-position: -20px -120px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .mod-coll .coll-love {
	background:url(images/sprite.png) no-repeat;
    float: right;
    background-position: -47px -145px;
    position: relative;
    width: 26px;
    height: 25px;
    display: inline;
    margin-left: 1px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .mod-coll .coll-love:hover{
    background-position: -47px -120px;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .score {
    font-family: Impact;
	float:left;
    color: #ed4b39;
    font-size: 24px;
    line-height: 1;
}
.content .bk2 .zuo-bottom .mod-list li .mode-app-wrap .mode-app .mode-app-des .mode-app-func .score span{font-size:18px}
.content .bk2 .you{float:right;width:320px;height:450px;background:#fff}
.content .bk2 .you .mod-head {
    padding: 10px 15px 10px 15px;
    line-height: 30px;
	height: 30px;
}
.content .bk2 .you .mod-head h3.cap-new {
	background:url(images/sprite.png) no-repeat;
    background-position: -126px -60px;
	float: left;
    padding-left: 42px;
    font-size: 20px;
    font-weight: normal;
}

.content .bk2 .you .mod-head .mod-more {
    float: right;
    width: 30px;
    height: 30px;
	background:url(images/sprite.png) no-repeat;
    background-position: -96px -30px;
    text-indent: -9999em;
}
.content .bk2 .you .mod-head .mod-more:hover {
    background-position: -96px 0;
}

.content .bk2 .you .mod-coming {
    padding:0px 15px;
    overflow: hidden;
}
.content .bk2 .you .mod-cont {
    padding: 5px 0 5px 15px;
}

.content .bk2 .you .mod-coming li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ececed;
}

.content .bk2 .you .mod-coming li.curr .coming{display:block}
.content .bk2 .you .mod-coming li.curr .coming-normal{display:none;}
.content .bk2 .you .mod-coming li .coming {
    padding: 5px 0 6px;
    height: 82px;
    overflow: hidden;
	font-size: 13px;
	display:none;
}
.content .bk2 .you .mod-coming li .coming a.coming-icon {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 10px;
	display:block;
}

.content .bk2 .you .mod-coming li .coming a.coming-icon img {
    width: 72px;
    height: 72px;
    border-radius: 18px;
}

.content .bk2 .you .mod-coming li .coming .coming-des a.coming-tit {
    font-size: 16px;
	font-weight: 600;
}
.content .bk2 .you .mod-coming li .coming .coming-des .company {
    line-height: 26px;
    color: #555;
}
.content .bk2 .you .mod-coming li .coming .coming-des .time {
    line-height: 29px;
    color: #555;
}
.content .bk2 .you .mod-coming li .coming-normal {
    height: 42px;
    line-height: 42px;
    overflow: hidden;
    color: #555;
	font-size: 13px;
}

.content .bk2 .you .mod-coming li .coming-normal a.coming-name {
    float: left;
    padding: 0 13px 0 6px;
    width: 115px;
    font-size: 15px;
	font-weight:bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content .bk2 .you .mod-coming li .coming-normal span.coming-class {
    float: right;
}

/*bk3板块3样式*/

.content .bk3 .mode-box .scroll-wrap {
    zoom: 1;
    position: relative;
    padding: 15px 0;
    background-color: #fff;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont {
    width: 1110px;
    position: relative;
    overflow: hidden;
    height: 120px;
    margin: 0 auto;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont ul.scroll-list {
    position: absolute;
    width: 20000px;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont ul.scroll-list li.scroll-item {
    float: left;
    width: 150px;
    height: 120px;
    display: inline;
    margin: 0 5px;
    overflow: hidden;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont ul.scroll-list li.scroll-item a.scroll-icon {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont ul.scroll-list li.scroll-item a.scroll-icon img {
    display: block;
    width: 100%;
    height: 100%;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont ul.scroll-list li.scroll-item a.scroll-icon span.scroll-name {
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    z-index: 11;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
	position: absolute;
    padding: 0 10px;
    width: 130px;
    height: 30px;
    left: 0;
    bottom: 0;
}

.content .bk3 .mode-box .scroll-wrap .scroll-cont ul.scroll-list li.scroll-item a.scroll-icon span.scroll-cover {
    background-color: #41474e;
    opacity: 0.8;
    z-index: 10;
	position: absolute;
    padding: 0 10px;
    width: 130px;
    height: 30px;
    left: 0;
    bottom: 0;
}

.content .bk3 .mode-box .scroll-wrap .scroll-prev {
	background:url(images/sprite.png) no-repeat;
    background-position: 0 -38px;
    left: 15px;
	position: absolute;
    width: 19px;
    height: 38px;
    top: 56px;
}
.content .bk3 .mode-box .scroll-wrap .scroll-prev:hover {
    background-position: 0 -114px;
}

.content .bk3 .mode-box .scroll-wrap .scroll-next {
	background:url(images/sprite.png) no-repeat;
    background-position: 0 0;
    right: 15px;
	position: absolute;
    width: 19px;
    height: 38px;
    top: 56px;
}
.content .bk3 .mode-box .scroll-wrap .scroll-next:hover {
    background-position: 0 -76px;
}


/*bk4板块4样式*/
.content .bk4 .mod-box {
    background-color: #fff;
}

.content .bk4 .mod-box .mod-head {
    padding: 10px 15px 10px 15px;
    height: 30px;
}

.content .bk4 .mod-box .mod-head .cap-recommend {
	background:url(images/sprite.png) no-repeat;
    background-position: -12px -366px;
	float: left;
    padding-left: 42px;
    font-size: 20px;
    font-weight: normal;
	line-height: 30px;
}

.content .bk4 .mod-box .mod-cont {
    padding: 5px 0 5px 15px;
}
.content .bk4 .mod-box .mod-cont ul.mod-list li {
    float: left;
    position: relative;
    margin: 0 10px 10px 0;
    height: 118px;
    border: 1px #f1f1f1 solid;
    background-color: #fff;
	width: 283px;
    height: 104px;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap {
    margin: 1px;
    padding: 2px 8px 0;
	height: 88px;
    padding-top: 14px;
    background-color: #fff;
    overflow: hidden;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap a.mode-app-icon {
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 9px;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap a.mode-app-icon img {
    width: 72px;
    height: 72px;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des {
    position: relative;
    top: -2px;
    overflow: hidden;
    color: #888;
    line-height: 1.3;
    zoom: 1;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-name {
    display: block;
    overflow: hidden;
    font-size: 15px;
    word-break: break-all;
}
.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des p.time {
    padding-bottom: 4px;
}
.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des p.time span.sep {
    padding: 0 8px;
    position: relative;
    top: -1px;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func {
    padding-top: 4px;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .star-grey {
	background:url(images/sprite.png) no-repeat;
	background-position: -20px -213px;
    float: left;
    width: 68px;
    height: 12px;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: baseline;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .star-grey .star-light {
	background:url(images/sprite.png) no-repeat;
    background-position: -20px -199px;
	float: left;
    height: 12px;
    position: relative;
	width: 54px!important;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .mod-coll {
    float: right;
    width: 54px;
    height: 25px;
}
.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .mod-coll .coll-down {
	background:url(images/sprite.png) no-repeat;
    background-position: -20px -145px;
	float: left;
    width: 26px;
    height: 25px;
    display: inline;
    margin-left: 1px;
}
.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .mod-coll .coll-down:hover {
    background-position: -20px -120px;
}

.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .mod-coll .coll-love {
	background:url(images/sprite.png) no-repeat;
    background-position: -47px -145px;
	float: right;  
    position: relative;
    width: 26px;
    height: 25px;
    display: inline;
    margin-left: 1px;
}
.content .bk4 .mod-box .mod-cont ul.mod-list li .mode-app-wrap .mode-app-des .mode-app-func .mod-coll .coll-love:hover {
    background-position: -47px -120px;
}

.bk5 .mod-box {
    background-color: #fff;
}

.bk5 .mod-box .mod-cont {
    padding: 5px 0 5px 15px;
}

.bk5 .rank-wrap {
    padding: 9px 0 10px;
    float: left;
    width: 280px;
    margin-right: 16px;
    overflow: hidden;
}
/*单机排行榜标题*/
.bk5 .rank-wrap h3 {
    line-height: 40px;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 2px #31c588 solid;
}

.bk5 .rank-wrap h3 em {
    font-size: 22px;
    padding-right: 6px;
    color: #31c588;
	font-style: normal;
}
/*网游排行榜标题*/
.bk5 .rank-net h3 {
    border-bottom-color: #43b4ee;
}
.bk5 .rank-net h3 em {
    color: #43b4ee;
}
/*软件排行榜标题*/
.bk5 .rank-soft h3 {
    border-bottom-color: #7771b8;
}
.bk5 .rank-soft h3 em {
    color: #7771b8;
}
/*喜欢排行榜标题*/
.bk5 .rank-coll h3 {
    border-bottom-color: #ffa200;
}
.bk5 .rank-coll h3 em {
    color: #ffa200;
}
.bk5 .rank-wrap li.rank-front {
    padding-top: 8px;
    height: 72px;
}

.bk5 .rank-wrap .rank-item {
    position: relative;
    overflow: hidden;
    border-bottom: 1px #cecece dotted;
    padding-top: 9px;
    height: 30px;
}

.bk5 .rank-wrap li.rank-front .rank-num {
    margin-top: 22px;
    background-color: #31c588;
}
.bk5 .rank-net li.rank-front .rank-num {
    background-color: #43b4ee;
}
.bk5 .rank-soft li.rank-front .rank-num {
    background-color: #7771b8;
}
.bk5 .rank-coll li.rank-front .rank-num {
    background-color: #ffa200;
}
.bk5 .rank-wrap li .rank-num {
    float: left;
    width: 22px;
    height: 22px;
    margin: 0 10px 0 0;
    color: #fff;
    background-color: #828588;
    text-align: center;
    line-height: 22px;
}

.bk5 .rank-wrap li .rank-icon {
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.bk5 .rank-wrap li .rank-icon img {
    width: 64px;
    height: 64px;
}

.bk5 .rank-wrap li .rank-tit, .rank-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bk5 .rank-wrap li .rank-tit {
    width: 150px;
    height: 26px;
    font-size: 16px;
    color: #333;
    line-height: 26px;
}

.bk5 .rank-wrap li .rank-star {
    padding: 6px 0;
    height: 12px;
}

.bk5 .rank-wrap li .rank-star .star {
    float: left;
    top: 0px;
	width: 68px;
    height: 12px;
    position: relative;
    font-size: 0;
    line-height: 0;
    vertical-align: baseline;
}

.bk5 .rank-wrap li .rank-star .star-grey {
	background:url(images/sprite.png) no-repeat;
    background-position: -20px -213px;
}

.bk5 .rank-wrap li .rank-star .star-grey .star-light {
	background:url(images/sprite.png) no-repeat;
    background-position: -20px -199px;
}
