@charset "UTF-8";
/********************
 * 缴费功能scss
 * author:yaohuitao@100tal.com
 * ******************/
/* line 5, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../../app/styles/main.scss */
html {
  font-size: 62.5%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 20, ../../app/styles/main.scss */
body {
  font-family: Georigia,Microsoft Yahei,Helvetica;
  color: #323232;
  font-size: 1.2rem;
  line-height: 150%;
  width: 100%;
  overflow-x: hidden;
  background-color: #eee;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 21, ../../app/styles/main.scss */
[class^="ico-"] {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url(../images/icons.png) no-repeat;
  background-size: 250px auto;
  cursor: pointer;
  text-align: center;
}

/* line 22, ../../app/styles/main.scss */
a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: transparent;
}
/* line 24, ../../app/styles/main.scss */
a:hover {
  text-decoration: none;
  color: #0091ff;
}

/* line 26, ../../app/styles/main.scss */
input, textarea {
  font-family: Georigia,Microsoft Yahei,Helvetica;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../../app/styles/main.scss */
input[type=checkbox] {
  border: none;
  background: url("../images/icons.png") no-repeat;
  background-size: 250px auto;
  background-position: -22px 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -webkit-appearance: none;
}

/* line 28, ../../app/styles/main.scss */
input[type=checkbox]:checked {
  background-position: -45px 0;
}

/* line 30, ../../app/styles/main.scss */
input[type=radio] {
  border: 1px solid #b5b5b5;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  -webkit-appearance: none;
}

/* line 31, ../../app/styles/main.scss */
input[type=radio]:checked {
  border: 1px solid #0091ff;
}

/* line 32, ../../app/styles/main.scss */
input[type=radio]:checked:after {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #0091ff;
  color: #0091ff;
}

/* line 34, ../../app/styles/main.scss */
label * {
  vertical-align: middle;
}

/* line 35, ../../app/styles/main.scss */
.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  *display: inline;
  padding: 10px 16px;
  margin-bottom: 0;
  line-height: 20px;
  color: #fff;
  border: none;
  font-size: 1.4rem;
  min-width: 50px;
  background-color: #0091ff;
  transition: all 0.1s ease-in 0s;
  font-family: Georigia,Microsoft Yahei,Helvetica;
  -webkit-tap-highlight-color: transparent;
}

/* line 52, ../../app/styles/main.scss */
.btn.disabled {
  color: #fff;
  background: #aaa;
}

/* line 54, ../../app/styles/main.scss */
.btn:hover {
  color: #fff;
  background: #33a7ff;
}

/* line 55, ../../app/styles/main.scss */
.btn:active {
  color: #fff;
  background: #0074cc;
}

/* line 57, ../../app/styles/main.scss */
.btn-orange {
  color: #fff;
  background: #fe9402;
}

/* line 58, ../../app/styles/main.scss */
.btn-orange:hover {
  color: #fff;
  background: #fea935;
}

/* line 59, ../../app/styles/main.scss */
.btn-orange:active {
  color: #fff;
  background: #cc7701;
}

/* line 61, ../../app/styles/main.scss */
.btn-red {
  color: #fff;
  background: #ff3b2f;
}

/* line 62, ../../app/styles/main.scss */
.btn-red:hover {
  color: #fff;
  background: #ff6b62;
}

/* line 63, ../../app/styles/main.scss */
.btn-red:active {
  color: #fff;
  background: #fb0e00;
}

/* line 66, ../../app/styles/main.scss */
.pay-top {
  background: #fff;
  border-bottom: 1px solid #a5a5a5;
}

/* line 67, ../../app/styles/main.scss */
.pay-top ul {
  display: flex;
  flex-flow: row;
}

/* line 68, ../../app/styles/main.scss */
.pay-top li {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-size: 1.6rem;
}

/* line 69, ../../app/styles/main.scss */
.pay-top li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 0 2px;
  line-height: 42px;
}
/* line 70, ../../app/styles/main.scss */
.pay-top li a:hover {
  color: #0091ff;
}

/* line 72, ../../app/styles/main.scss */
.pay-top li.active a {
  border-bottom: 3px solid #0091ff;
  line-height: 38px;
  color: #0091ff;
}

/* line 73, ../../app/styles/main.scss */
.ico-alert {
  width: 15px;
  height: 16px;
  background-position: 0 0;
}

/* line 74, ../../app/styles/main.scss */
.pay-notice .ico-alert {
  margin-right: 4px;
}

/* line 76, ../../app/styles/main.scss */
.pay-notice {
  background: #fbf9e2;
  color: #ed9100;
  font-size: 1.2rem;
  height: 20px;
  line-height: 20px;
  padding: 5px 18px;
  border-bottom: 1px solid #d4d4d4;
}

/* line 77, ../../app/styles/main.scss */
.pay-each {
  background: #fff;
  margin-bottom: 15px;
  height: 120px;
  box-sizing: border-box;
  position: relative;
  padding-left: 120px;
  line-height:18px;
  -webkit-tap-highlight-color: transparent;
}

/* line 78, ../../app/styles/main.scss */
.pay-each.animatedh {
  transition: all 0.2s ease-in-out 0s;
}

/* line 82, ../../app/styles/main.scss */
.pay-order-teacher {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 6px;
}

/* line 83, ../../app/styles/main.scss */
.pay-order-check {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}

/* line 84, ../../app/styles/main.scss */
.pay-order-swiper {
  position: absolute;
  left: 100%;
  top: 0px;
  width: 120px;
  height: 120px;
}

/* line 85, ../../app/styles/main.scss */
.pay-checkbox {
  width: 20px;
  height: 20px;
}

/* line 87, ../../app/styles/main.scss */
.pay-each h2 {
  font-size: 1.8rem;
  padding-top: 10px;
  font-weight: normal;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 88, ../../app/styles/main.scss */
.pay-each h3 {
  font-size: 1.4rem;
  font-weight: normal;
  padding-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 90, ../../app/styles/main.scss */
.pay-teacher-link:hover {
  color: #333;
}

/* line 92, ../../app/styles/main.scss */
.pay-order-info {
  color: #999;
  font-size: 1.2rem;
  font-weight: normal;
  padding-top: 2px;
  padding-bottom: 4px;
}

/* line 93, ../../app/styles/main.scss */
.pay-order-info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 96, ../../app/styles/main.scss */
.pay-order-time {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #0091ff;
  border: 1px solid #0091ff;
  padding: 0px 4px;
  border-radius: 2px;
  background: #fff;
  line-height: 16px;
}

/* line 97, ../../app/styles/main.scss */
.pay-order-time.expire {
  color: #aaa;
  border-color: #ccc;
}

/* line 98, ../../app/styles/main.scss */
.pay-order-price {
  position: absolute;
  right: 10px;
  height: 20px;
  line-height: 20px;
  color: #fe6c26;
  top: 50%;
  margin-top: -10px;
  font-size: 1.6rem;
  background: #fff;
}

/* line 99, ../../app/styles/main.scss */
.ico-time {
  width: 12px;
  height: 12px;
  background-position: -91px -2px;
}

/* line 101, ../../app/styles/main.scss */
.pay-footer {
  box-sizing: border-box;
  line-height: 50px;
  font-size: 1.6rem;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

/* line 102, ../../app/styles/main.scss */
.pay-footer-left {
  float: left;
}

/* line 103, ../../app/styles/main.scss */
.pay-footer-right {
  float: right;
}

/* line 104, ../../app/styles/main.scss */
.pay-footer-selectall {
  float: left;
  margin-left: 10px;
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* line 105, ../../app/styles/main.scss */
.pay-footer-selectall * {
  vertical-align: middle;
}

/* line 106, ../../app/styles/main.scss */
.pay-footer-total {
  float: right;
}

/* line 107, ../../app/styles/main.scss */
.pay-footer-btn {
  position: absolute;
  right: 0px;
  top: -1px;
  height: 51px;
  font-size: 1.6rem;
  color: #fff;
  width: 126px;
  text-align: center;
  padding: 0;
  line-height: 51px;
  background: #0091ff;
}

/* line 108, ../../app/styles/main.scss */
.pay-wrap {
  padding-bottom: 10px;
  overflow: hidden;
}

/* line 109, ../../app/styles/main.scss */
.pay-footer-txt {
  color: #fe6c26;
}

/* line 110, ../../app/styles/main.scss */
.pay-order-btn {
  display: block;
  padding: 0px;
  box-sizing: border-box;
  line-height: 120px;
  min-width: 0px;
  width: 50%;
  height: 120px;
  overflow: hidden;
  text-align: center;
  float: left;
}

/* line 111, ../../app/styles/main.scss */
.dragstart {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* line 112, ../../app/styles/main.scss */
.pay-footer .wrap {
  background: #fff;
  border-top: 1px solid #d4d4d4;
  height: 50px;
  position: relative;
  padding-right: 146px;
  box-sizing: border-box;
  overflow: hidden;
}

/****订单页*****/
/* line 115, ../../app/styles/main.scss */
.order-top {
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 42px;
  line-height: 42px;
  padding: 0 12px;
}

/* line 116, ../../app/styles/main.scss */
.order-top h2 {
  display: inline;
  font-size: 1.6rem;
  margin-left: 8px;
}

/* line 117, ../../app/styles/main.scss */
.ico-order-title {
  width: 17px;
  height: 19px;
  background-position: -107px 0;
}

/* line 118, ../../app/styles/main.scss */
.order-list {
  margin-bottom: 15px;
}

/* line 119, ../../app/styles/main.scss */
.order-list .pay-each {
  padding-left: 120px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 0px;
}

/* line 120, ../../app/styles/main.scss */
.order-list .pay-order-teacher {
  left: 10px;
}

/* line 121, ../../app/styles/main.scss */
.order-options-item {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  font-size: 1.4rem;
  padding: 0 10px;
}

/* line 122, ../../app/styles/main.scss */
.order-options-left {
  float: left;
}

/* line 123, ../../app/styles/main.scss */
.order-options-right {
  float: right;
}

/* line 124, ../../app/styles/main.scss */
.order-options-links {
  color: #0091ff;
}

/* line 125, ../../app/styles/main.scss */
.pay-options-price {
  color: #fe6c26;
  font-size: 16px;
}

/* line 126, ../../app/styles/main.scss */
.order-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 127, ../../app/styles/main.scss */
.order-footer .wrap {
  background: #f9f9f9;
  border-top: 1px solid #ccc;
  padding: 10px;
  font-size: 1.6rem;
  text-align: center;
}

/* line 128, ../../app/styles/main.scss */
.order-card-overage {
  padding-bottom: 10px;
  line-height: 150%;
}

/* line 129, ../../app/styles/main.scss */
.order-pay-btn {
  display: block;
  border-radius: 4px;
  font-size: 1.6rem;
}

/* line 130, ../../app/styles/main.scss */
.order-wrap {
  padding-bottom: 110px;
}

/* line 131, ../../app/styles/main.scss */
.order-card-num {
  color: #fe6c26;
}

/* line 132, ../../app/styles/main.scss */
.ico-arr-right {
  width: 8px;
  height: 14px;
  background-position: -131px -1px;
  margin-left: 4px;
}

/* line 133, ../../app/styles/main.scss */
.order-option-agree {
  font-size: 14px;
  padding: 10px 0;
}

/* line 134, ../../app/styles/main.scss */
.order-option-agree * {
  vertical-align: middle;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 151, ../../app/styles/main.scss */
  .wrap {
    width: 768px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=main.css.map */