@charset "UTF-8";
.page{
  background: #ffffff;
}
.g-flexview{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  min-width: 320px;
}
.g-scrollview{
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.g-scrollview {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.swiper-container .swiper-wrapper .swiper-slide img {
    height: auto;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: rgb(0,0,0);
    opacity: .2;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 2px;
    left: 0;
    width: 100%;
}
.swiper-container .swiper-wrapper .swiper-slide{
  height: 7.5rem;
}
.head{
  width: 100%;
  position: relative;
  overflow: hidden;
}
.head .cell_top{
  width: 100%;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
 -webkit-box-orient: horizontal;
 -webkit-flex-direction: row;
 -moz-flex-direction: row;
 -ms-flex-direction: row;
 -o-flex-direction: row;
 flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
  margin-top: 0.55rem;
  padding: 0 0.9rem;
}
.head .cell_top .item_left{
  width: 2.9rem;
  height: 100%;
  position: relative;
  padding-right: 1.475rem;
  overflow:hidden;
}
.head .cell_top .item_left p{
  color: rgb(255,255,255);
  font-size: 0.7rem;
}
.head .cell_top .item_left:before{
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.3rem;
  background: url('../images/index_fold@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.725rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.head .cell_top .item{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.head .cell_top .item_right{
  width: 1.75rem;
  height: 100%;
  position: relative;
}
.head .cell_top .item_right:before{
  content: "";
  display: block;
  width: 1.05rem;
  height: 1.05rem;
  background: url('../images/index_news@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.head .cell_top .item input{
  height: 1.5rem;
  border: none;
  font-size: 0.7rem;
  background: #fff;
  color: rgb(102,102,102);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  border-radius: 0.75rem;
  padding: 0 1.45rem;
}
.nav{
  margin: 0.9rem 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav .nav_item{
  width: 20%;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
.nav .nav_item .nav_icon{
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
.nav .nav_item .nav_icon img{
  width: 100%;
  height: auto;
}
.nav .nav_item .nav_title{
  font-size: 0.6rem;
  color: rgb(100,100,100);
  text-align: center;
  overflow:hidden;
  white-space:nowrap;
  /* text-overflow:ellipsis; */
}
.news{
  height: 1.9rem;
  margin: 0.2rem 1.15rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.news .news_wd{
  width: 1.8rem;
  height: 1.9rem;
  overflow: hidden;
}
.news .news_wd img{
  width: 100%;
  height: auto;
}
.news .news_item{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0.9rem;
  overflow:hidden;
}
.news .news_item p{
  font-size: 0.55rem;
  color: rgb(100,100,100);
      line-height: 1rem;
  word-wrap:break-word;
   word-break:break-all;
}
.guagngao{
  width: 100%;
  height: 5.5rem;
  margin-top: 0.7rem;
  padding: 0.5rem 0.8rem;
  background: rgb(244,244,244);
  overflow: hidden;
}
.guagngao img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.goods_guanggao{
  margin: 0.5rem 0 0.25rem 0;
  padding: 0 0.25rem 0 0.25rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.goods_guanggao .gg_item{
  width: 50%;
  height: 5.5rem;
  margin-bottom: 0.25rem;
  position: relative;
  padding: 1.4rem 0 0 0.4rem;
}
.goods_guanggao .gg_item .gg_item_title{
  position: relative;
  z-index: 3;
  padding-left: 0.4rem;
}
.goods_guanggao .gg_item .gg_item_title h3{
  font-size: 0.65rem;
  color: rgb(4,4,4);
}
.goods_guanggao .gg_item .gg_item_title p{
  font-size: 0.5rem;
  color: rgb(100,100,100);
  margin-top: 0.4rem;
}
.goods_guanggao .gg_item .gg_item_title .gg_item_btn{
  display: block;
  width: 2.0rem;
  height: 0.85rem;
  border-radius: 0.425rem;
  background: rgb(255,107,107);
  text-align: center;
  line-height: 0.95rem;
  font-size: 0.55rem;
  color: #fff;
  margin-top: 0.4rem;
}
.goods_guanggao .gg_item .item_left{
  position: absolute;
  left: 0.3rem;
  top: 0;
  text-align: center;
  color: #fff;
  font-size: 0.55rem;
  z-index: 2;
}
.goods_guanggao .gg_item .item_left_icon1{
  width: 3.075rem;
  height: 0.925rem;
  line-height: 0.925rem;
  background: url('../images/index_code_bg01@2x.png') no-repeat;
  background-size: cover;
}
.goods_guanggao .gg_item .item_left_icon2{
  width: 2.525rem;
  height: 0.925rem;
  line-height: 0.925rem;
  background: url('../images/index_code_bg02@2x.png') no-repeat;
  background-size: cover;
}
.goods_guanggao .gg_item .item_left_icon3{
  width: 3.075rem;
  height: 0.925rem;
  line-height: 0.925rem;
  background: url('../images/index_code_bg03@2x.png') no-repeat;
  background-size: cover;
}
.goods_guanggao .gg_item .item_left_icon4{
  width: 2.525rem;
  height: 0.925rem;
  line-height: 0.925rem;
  background: url('../images/index_code_bg04@2x.png') no-repeat;
  background-size: cover;
}
.goods_guanggao .gg_item .item_img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.goods_guanggao .gg_item .item_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.goods_guanggao .gg_item .item_chanpin_img{
  position: absolute;
  right: 0.45rem;
  bottom: 0.5rem;
/*   width: 4.4rem;
  height: 4.15rem; */
  z-index: 2;
}
.goods_guanggao .gg_item .item_chanpin_img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.shop_box{
  margin: 1.8rem 0.55rem;
}
.shop_box .shop_top{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.shop_box .shop_top .item{
  font-size: 0.6rem;
  color:rgb(144,144,144);
  position: relative;
  padding-right: 0.575rem;
}
.shop_box .shop_top .item_right_icon:after{
  content: "";
  display: block;
  width: 0.325rem;
  height: 0.55rem;
  background: url('../images/more_light@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.shop_box .shop_top .item .fujin{
  color: #000;
  font-size: 1.4rem;
}
.shop_box .shop_list{
  margin: 0.4rem 0 1.2rem 0;
}
.shop_box .shop_list .shop_list_ul .shop_list_li{
  padding: 0.8rem 0 0.925rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
    border-bottom: 0.025rem solid rgb(244,244,244);
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_left{
  width: 5.2rem;
  height: 5.2rem;
  -webkit-flex: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  border-radius: 0.4rem;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right{
  height: 5.025rem;
  padding-left: 0.75rem;
    -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .right_bottom{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .shop_name{
  font-size: 0.85rem;
  color: rgb(4,4,4);
  white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .shop_address{
  font-size: 0.7rem;
  color: rgb(100,100,100);
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .shop_address .shop_address_icon{
  display: inline-block;
  width: 0.55rem;
  height: 0.7rem;
  background: url('../images/index_location@2x.png') no-repeat;
  background-size: cover;
  margin-right: 0.225rem;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .right_bottom .shop_luliang{
  font-size: 0.6rem;
  color: rgb(100,100,100);
  white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .right_bottom .shop_qu_btn{
  display: block;
  width: 2.6rem;
  height: 1.0rem;
  border-radius: 0.25rem;
  border: 0.05rem solid rgb(255,105,1);
  font-size: 0.55rem;
  color: rgb(255,105,1);
  text-align: center;
  line-height: 0.9rem;
  position: relative;
  padding-right: 0.4rem;
}
.shop_box .shop_list .shop_list_ul .shop_list_li .shop_right .right_bottom .shop_qu_btn_icon:after{
  content: "";
  display: block;
  width: 0.225rem;
  height: 0.4rem;
  background: url('../images/index_into@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.225rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
/* 弹出层 */
.mask{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10600;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  overflow: hidden;
  display: none;
}
.mask .address{
  padding: 0.825rem 0.875rem;
  overflow: hidden;
  position: relative;
  font-size: 0.7rem;
  color: #333333;
  margin: 0 0.875rem;
  border-bottom: 0.05rem solid #fafafa;
}
.mask .address::after{
  content: "";
  display: block;
  width: 1.0rem;
  height: 1.0rem;
  background: url('../images/nav_btn_refresh@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.mask .ar_lf_icon:before{
  content: "";
  display: block;
  width: 0.55rem;
  height: 0.7rem;
  background: url('../images/index_location@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.mask .address_list{
  overflow: auto;
  height: 100%;
  padding-bottom: 11.25rem;
}
.mask .address_list .list{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 3.25rem;
  padding-left: 0.875rem;
  margin:0 0.875rem;
  position: relative;
  border-bottom: 0.05rem solid #fafafa;
}
.mask .address_list .list .item{
    -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.7rem;
  color: #0f0f0f;
}
.mask .address_list .list .item_right{
  width: 2.75rem;
}
.mask .address_list .list .item_right .shop_qu_btn{
  display: block;
  width: 2.6rem;
  height: 1.0rem;
  border-radius: 0.25rem;
  border: 0.05rem solid rgb(255,105,1);
  font-size: 0.55rem;
  color: rgb(255,105,1);
  text-align: center;
  line-height: 0.9rem;
  position: relative;
  padding-right: 0.4rem;
}
.mask .address_list .list .item_right .shop_qu_btn_icon:after{
  content: "";
  display: block;
  width: 0.225rem;
  height: 0.4rem;
  background: url('../images/index_into@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.225rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.mask .address_list .list .item_right p{
  font-size: .75rem;
  color: rgb(255,105,1);
  text-align: center;
  margin-top: 0;
}
.btn_box{
  width: 100%;
  height: 5.675rem;
  background: #fff;
  padding: 1.25rem 2.25rem 0 2.25rem;
  position: absolute;
  left: 0;
  bottom: 0;
}
.btn_block{
  display: block;
  width: 100%;
  height: 2.35rem;
  line-height: 2.25rem;
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.25rem;
  background: -webkit-linear-gradient(left, rgb(251,116,88) , rgb(253,72,84));
  background: -o-linear-gradient(right,rgb(251,116,88), rgb(253,72,84));
  background: -moz-linear-gradient(right,rgb(251,116,88), rgb(253,72,84));
  background: linear-gradient(to right, rgb(251,116,88), rgb(253,72,84));
  -moz-box-shadow: 0 0.46rem 0.3rem -0.35rem rgb(251,116,88);
  -webkit-box-shadow: 0 0.46rem 0.3rem -0.35rem rgb(251,116,88);
  box-shadow: 0 0.46rem 0.3rem -0.35rem rgb(251,116,88);
  margin-bottom: 0.875rem;
}
/* 弹出层 */
/* foot */
.f_tabbar{
  width: 100%;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.96);
  height: 2.45rem;
  box-shadow: 0 -0.025rem 0.375rem rgb(239,239,239);
}
.f_tabbar .tabbar_item{
      -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgb(144,144,144);
    font-size: 0.5rem;
}
.f_tabbar .tabbar_item .tabbar_icon{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.25rem;
}
.f_tabbar .tabbar_item .tabbar_icon img{
  width: auto;
  height: 100%;
}
.f_tabbar .tabbar_action{
  color: rgb(253,72,84);
}
.f_tabbar .tabbar_icon_shouye{
  width: 1.075rem;
  height: 1.2rem;
  background: url('../images/unchecked_icon_index@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_shouye{
  background: url('../images/select_icon_index@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_icon_lianmeng{
   width: 1.15rem;
  height: 1.125rem;
  background: url('../images/unchecked_icon_jx@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_lianmeng{
  background: url('../images/select_icon_jx@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_icon_tuiguang{
     width: 1.25rem;
  height: 1.175rem;
  background: url('../images/unchecked_icon_cart@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_tuiguang{
  background: url('../images/select_icon_cart@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_icon_geren{
       width: 1.05rem;
  height: 1.175rem;
  background: url('../images/unchecked_icon_my@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_geren{
  background: url('../images/select_icon_my@2x.png') no-repeat;
  background-size: cover;
}
/* foot */
