@charset "UTF-8";
.page{
  background: #ffffff;
}
.g-flexview{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  min-width: 320px;
}
.g-scrollview{
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.g-scrollview {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.head .cell_top{
  width: 100%;
  height: 1.9rem;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  z-index: 2;
  margin-top: 0.55rem;
  padding: 0 0.9rem;
}
.head .cell_top>div{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
   -webkit-box-pack: center;
   -webkit-justify-content: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   -webkit-align-items: center;
   -ms-flex-align: center;
   align-items: center;
}
.head .cell_top .item_left{
  width: 2.9rem;
  height: 100%;
  position: relative;
  padding-right: 1.475rem;
  overflow:hidden;
}
.head .cell_top .item_left p{
  color: #333;
  font-size: 0.7rem;
}
.head .cell_top .item_left input{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity: 0;
}
.head .cell_top .item_left:before{
  content: "";
  display: block;
  width: 0.325rem;
  height: 0.55rem;
  background: url('../images/more_light@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.725rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.head .cell_top .item{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.head .cell_top .item_right{
  width: 1.75rem;
  height: 100%;
  position: relative;
  color: #333;
  font-size: 0.7rem;
  margin-left: .5rem;
}
/* .head .cell_top .item_right:before{
  content: "";
  display: block;
  width: 1.05rem;
  height: 1.05rem;
  background: url('../images/index_news@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
} */
.head .cell_top .item input{
  height: 1.9rem;
  border: none;
  font-size: 0.7rem;
  color: #999;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  border-radius: 0.05rem;
  padding: 0 1.45rem;
  background: #f2f2f2;
}

/* foot */
.f_tabbar{
  width: 100%;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.96);
  height: 2.45rem;
  box-shadow: 0 -0.025rem 0.375rem rgb(239,239,239);
}
.f_tabbar .tabbar_item{
      -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgb(144,144,144);
    font-size: 0.5rem;
}
.f_tabbar .tabbar_item .tabbar_icon{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.25rem;
}
.f_tabbar .tabbar_item .tabbar_icon img{
  width: auto;
  height: 100%;
}
.f_tabbar .tabbar_action{
  color: rgb(253,72,84);
}
.f_tabbar .tabbar_icon_shouye{
  width: 1.075rem;
  height: 1.2rem;
  background: url('../images/unchecked_icon_index@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_shouye{
  background: url('../images/select_icon_index@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_icon_lianmeng{
   width: 1.15rem;
  height: 1.125rem;
  background: url('../images/unchecked_icon_jx@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_lianmeng{
  background: url('../images/select_icon_jx@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_icon_tuiguang{
     width: 1.25rem;
  height: 1.175rem;
  background: url('../images/unchecked_icon_cart@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_tuiguang{
  background: url('../images/select_icon_cart@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_icon_geren{
       width: 1.05rem;
  height: 1.175rem;
  background: url('../images/unchecked_icon_my@2x.png') no-repeat;
  background-size: cover;
}
.f_tabbar .tabbar_action .tabbar_icon_geren{
  background: url('../images/select_icon_my@2x.png') no-repeat;
  background-size: cover;
}
/* foot */
