@charset "UTF-8";
.page{
  background: #ffffff;
}
.g-flexview{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  min-width: 320px;
  padding-bottom: 2.5rem;
}
.g-scrollview{
  width: 100%;
  /* height: 100%; */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.g-scrollview {
  width: 100%;
  /* height: 100%; */
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.daohan_box{
  position: fixed;
  bottom: 5.9rem;
  right: 0.65rem;
  width: 2.55rem;
  height: 2.55rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  font-size: 0.6rem;
  color: #fff;
  padding: 0.6rem;
  text-align: center;
  border: 0.05rem solid #fff;
}
.popup.popup-qr_code{
  position: fixed;
}
.head{
  width: 100%;
  height: 14.0rem;
  position: relative;
  overflow: hidden;
}
.head .head_bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  overflow: hidden;
}
.head .mask_info,.js_head .mask_info{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.head .head_top{
  margin-top: 0.8rem;
  width: 100%;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.head .head_top .head_top_box{
  width: 100%;
  height: 2.5rem;
  position: relative;
  overflow: hidden;
}
.head .head_top .head_top_box .head_top_left{
  width: 2.75rem;
  height: 1.825rem;
  padding-left: 0.8rem;
  position: absolute;
  left: 0;
  top: 0;
  color:#ffffff;
}
/*.head .head_top .head_top_box .left_icon:after{*/
  /*content: "";*/
  /*display: block;*/
  /*width: 1.025rem;*/
  /*height: 0.95rem;*/
  /*background: url('../images/back_android_light@2x.png') no-repeat;*/
  /*background-size: cover;*/
  /*background-position: center;*/
/*}*/
.head .head_top .head_top_box .head_top_right{
  width: 2.75rem;
  height: 1.825rem;
  padding-right: 0.8rem;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}
.head .head_top .head_top_box .right_icon:after{
  /*content: "";*/
  display: block;
  width: 0.925rem;
  height: 1.0rem;
  background: url('../images/share_light@2x.png') no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: .9rem;
}
.head .head_top .head_top_box .head_top_shop{
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  border: 2px solid #ffffff;
}
.head .head_top .head_top_box .head_top_shop img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.head .shop_info{
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin-top: 0.5rem;
}
.head .shop_jieshao{
  font-size: 0.7rem;
  color: #fff;
  text-align: center;
  margin-top: 0.6rem;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.head .head_top .shop_btn_box{
  height: 1.575rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.0rem;
  padding: 0 1.5rem;
}
.head .head_top .shop_btn_box .btn_item{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #fff;
  position: relative;
  padding: 0.25rem 0;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.head .head_top .shop_btn_box .btn_item .i_btn_item{
  display: block;
  margin: 0.1rem 0.3rem 0 0;
}
.head .head_top .shop_btn_box .btn_item .btn_item1_icon{
  width: 0.65rem;
  height: 0.6rem;
  background: url('../images/dian_icon@2x.png') no-repeat;
  background-size: cover;
}
.head .head_top .shop_btn_box .btn_item .btn_item2_icon{
  width: 0.6rem;
  height: 0.6rem;
  background: url('../images/jieshao_icon@2x.png') no-repeat;
  background-size: cover;
}
.head .head_top .shop_btn_box .btn_item .btn_item3_icon{
  width: 0.575rem;
  height: 0.6rem;
  background: url('../images/xiaoxi_icon@2x.png') no-repeat;
  background-size: cover;
}
.head .head_top .shop_btn_box .active{
  color: #fff;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.head .head_top .shop_btn_box .active:after{
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.1rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
.head .head_top .shop_haodian{
  font-size: 1.0rem;
  color: #fff;
  margin: 1.05rem 0 0 0.6rem;
  text-align: left;
}
.shop_xq{
  width: 100%;
  height: 9.2rem;
  background: rgb(244, 244, 244);
  padding: 0 0.6rem;
}
.shop_xq .xq_box{
  position: relative;
  width: 100%;
  height: 8.7rem;
  background: #fff;
  margin-top: -2.4rem;
  border-radius: 0.6rem;
  padding: 0 0.5rem;
}
.xq_top{
  height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
}
.xq_top .top_item_wd{
  width: 4.4rem;
  -webkit-flex: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  position: relative;
}
.xq_top .top_item_wd:after{
  content: "";
  display: block;
  width: 0.65rem;
  height: 0.65rem;
  background: url('../images/location_icon@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  left: 0.45rem;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
/*.xq_top .top_item_wd:before{*/
  /*content: "";*/
  /*display: block;*/
  /*width: 0.625rem;*/
  /*height:0.35rem;*/
  /*background: url('../images/xiala_location@2x.png') no-repeat;*/
  /*background-size: cover;*/
  /*position: absolute;*/
  /*right: 0.45rem;*/
  /*top: 50%;*/
  /*-webkit-transform: translate(0,-50%);*/
  /*-moz-transform: translate(0,-50%);*/
  /*-ms-transform: translate(0,-50%);*/
  /*transform: translate(0,-50%);*/
/*}*/

.xq_top .top_item_wd a {
  font-size: 0.6rem;
  color: #fff;
  text-align: center;
  width: 4rem;
  height: 1.2rem;
  line-height: 1.2rem;
  display: block;
  border-radius: 0.6rem;
  background: -webkit-linear-gradient(left, rgb(251,116,88) , rgb(253,72,84));
  background: -o-linear-gradient(right, rgb(251,116,88), rgb(253,72,84));
  background: -moz-linear-gradient(right, rgb(251,116,88), rgb(253,72,84));
  background: linear-gradient(to right, rgb(251,116,88) , rgb(253,72,84));
  padding: 0 0.5rem 0 1.1rem;
}
.xq_top .top_item{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.xq_top .top_item .top_item_title{
  font-size: 0.6rem;
  color: rgb(4,4,4);
  margin-left: 0.4rem;
}
.xq_top .top_item .top_item_span{
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.025rem solid rgb(211, 211, 211);
  border-radius: 50%;
  overflow: hidden;
  margin-left: -.5rem;
}
.xq_top .top_item .top_item_span img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.shop_list_li{
  padding: 0.8rem 0 0.925rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 0.025rem solid rgb(244,244,244);
}
.shop_list_li .shop_left{
  width: 4.7rem;
  height: 4.7rem;
  -webkit-flex: none;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  border-radius: 0.4rem;
}
.shop_list_li .shop_left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
.shop_list_li .shop_right{
  height: 4.7rem;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}
.shop_list_li .shop_right .right_bottom{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.shop_list_li .shop_right .shop_name{
  font-size: 0.85rem;
  color: rgb(4,4,4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.shop_list_li .shop_right .shop_address {
  font-size: 0.7rem;
  color: rgb(100,100,100);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 0.95rem;
}
.shop_list_li .shop_right .shop_address .shop_address_icon {
  display: inline-block;
  width: 0.55rem;
  height: 0.7rem;
  background: url(../images/index_location@2x.png) no-repeat;
  background-size: cover;
  margin-right: 0.225rem;
  position: relative;
  top: 0.11rem;
}
.shop_list_li .shop_right .right_bottom .shop_qu_btn {
  display: block;
  padding: 0.225rem 0.35rem 0.2rem 0;
  font-size: 0.7rem;
  color: rgb(100,100,100);
}
.goods_box{
  background: #fff;
}
.goods_box .goods_title{
  height: 2.5rem;
  padding:0 0.55rem;
  border-bottom: 0.05rem solid rgb(244,244,244);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.goods_box .goods_title h3{
  font-size: 0.75rem;
  color: rgb(4,4,4);
}
.goods_box .shop_fensi {
  display: block;
  padding: 0.225rem 0.35rem 0.2rem 0.325rem;
  border-radius: 0.25rem;
  border: 0.05rem solid rgb(244,244,244);
  font-size: 0.5rem;
  color: rgb(100,100,100);
}
.goods_box .goods_class{
  width: 100%;
  height: 2.5rem;
  padding: 0 0.6rem;
  border-bottom: 0.05rem solid rgb(244,244,244);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: auto;
  background: #fff;
  z-index: 99;
}
.goods_box .goods_class .item{
  font-size: 0.7rem;
  color: rgb(100,100,100);
  display: inline-block;
  padding: 0.4rem 0.725rem 0.425rem 0.725rem;
  border-radius: 0.75rem;
  background: rgb(244,244,244);
  margin-right: 0.3rem;
  white-space: nowrap;
  text-overflow: ellipsis
}
.goods_box .goods_class .active{
  color: rgb(235,66,99);
  background: rgb(252,232,234);
}
.store{
  margin: .16rem .25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* 09版 */
  -webkit-box-orient: horizontal;
  /* 12版 */
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  /* 09版 */
  /*-webkit-box-lines: multiple;*/
  /* 12版 */
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.store .item{
  display: block;
  width: 47%;
  background: #ffffff;
  margin: 0.35rem 0.25rem;
  box-shadow: 0 0 0.15rem #e1f3ed;
  border-radius: 0.35rem;
  position: relative;
  border: 0.05rem solid rgb(213,213,213);
  position: relative;
}
.store .item .item_top {
  display: block;
  height: 8.55rem;
  overflow: hidden;
}
.store .item .item_top img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
.store .item .item_info{
  /*height: 3.275rem;*/
  margin: 0.6rem 0 0.575rem 0;
  padding: 0 0.25rem 0 0.325rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
.store .item .item_info .discount{
  display: inline-block;
  background: rgb(147,153,245);
  padding: 0.2rem 0.25rem 0.05rem 0.25rem;
  border-radius: 0.1rem;
  font-size: 0.5rem;
  color: #fff;
  margin-right: 0.25rem;
  line-height: 0.8rem;
  position: relative;
  top: -0.15rem;
  left:1px;
}
.store .item .item_info .s_name{
  font-size: 0.7rem;
  color: rgb(4,4,4);
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.175rem;
  padding-top:0.15rem;
}
.store .item .item_info .s_address_dt{
  font-size: 0.85rem;
  color: rgb(253,72,84);
  line-height: 0.8rem;
  font-weight: 600;
  width: 4rem;
  word-wrap:break-word;
  word-break:break-all;
}
.store .item_right_po{
  position: absolute;
  right: 0.65rem;
  bottom: 0.375rem;
}
.store .item_right_po .goods_btn .cart_box{
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.75rem;
  color: rgb(128, 126, 126);
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
}
.store .item_right_po .goods_btn{
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.store .item_right_po .goods_btn .delect_cart_btn{
  width: 1.1rem;
  height: 1.1rem;
  color: #6f6b6b;
  display: none;
}
.store .item_right_po .goods_btn .delect_cart_inpt{
  width: 1.8rem;
  height: 1.1rem;
  border-left: 0.05rem solid #f2f6f9;
  display: none;
}
/**旧版的加号加入购物车
.store .item_right_po .goods_btn .add_cart_btn{
  width: 1.1rem;
  height: 1.1rem;
  background-color: #fd5762;
  color: #fff;
}**/

/**新版的购物车按钮**/
.store .item_right_po .goods_btn .add_cart_btn{
  width: 0.95rem;
  height: 0.95rem;
  font-size:0;
  background: url(../images/store_cart@2x.png) no-repeat;
  background-size: cover;
}
.item_right_po .cart_border{
  /*border: 0.05rem solid #f2f6f9;*/
  border-radius: 0.15rem;
}

.share_mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.80);
  overflow: hidden;
  z-index: 9999;
}
.share_mark img {
  width: 100%;
  height: auto;
}
/* foot */
.f_tabbar{
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.96);
  height: 2.5rem;
  border-top: 0.025rem solid #efefef;
}
.f_tabbar .tabbar_item_wd{
  width: 3.725rem;
  font-size: 0.5rem;
  color: rgb(100,100,100);
}
.f_tabbar .cart_number{
  display: block;
  position: absolute;
  right: 0.4rem;
  top: 0.2rem;
  min-width: 1.0rem;
  height: 0.75rem;
  line-height: 0.85rem;
  font-size: 0.55rem;
  color: #fff;
  text-align: center;
  background-color: rgb(243,69,76);
  -webkit-border-radius: 0.35rem;
  border-radius: 0.35rem;
}
.f_tabbar .tabbar_item{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.f_tabbar .tabbar_item_f1{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.7rem;
  color: rgb(255,255,255);
  background: -webkit-linear-gradient(left, rgb(251,116,88) , rgb(253,72,84));
  background: -o-linear-gradient(right,rgb(251,116,88), rgb(253,72,84));
  background: -moz-linear-gradient(right,rgb(251,116,88), rgb(253,72,84));
  background: linear-gradient(to right, rgb(251,116,88), rgb(253,72,84));
}

.f_tabbar .tabbar_item_f2 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.7rem;
  color: rgb(255,255,255);
  background: -webkit-linear-gradient(left, rgb(76, 217, 100) , rgb(42, 200, 69));
  background: -o-linear-gradient(right,rgb(76, 217, 100) , rgb(42, 200, 69));
  background: -moz-linear-gradient(right,rgb(76, 217, 100) , rgb(42, 200, 69));
  background: linear-gradient(to right, rgb(76, 217, 100), rgb(42, 200, 69));
}
.f_tabbar .tabbar_item .tabbar_icon1{
  display: block;
  width: 0.85rem;
  height: 0.85rem;
  background: url('../images/store_sl_icon@2x.png') no-repeat;
  background-size: cover;
  margin: 0.375rem auto 0.25rem auto;
}
.f_tabbar .tabbar_item_br{
  border-left: 0.05rem solid rgb(239,239,239);
}
.f_tabbar .tabbar_item .tabbar_icon2{
  display: block;
  width: 0.9rem;
  height: 0.85rem;
  background: url('../images/store_cart_icon@2x.png') no-repeat;
  background-size: cover;
  margin: 0.375rem auto 0.25rem auto;
}
.f_tabbar .tabbar_item .tabbar_icon3{
  display: inline-block;
  width: 0.8rem;
  height: 0.725rem;
  background: url('../images/store_bottom_dianpu_icon@2x.png') no-repeat;
  background-size: cover;
  vertical-align: sub;
  margin-right: 0.3rem;
}
.f_tabbar .tabbar_item .tabbar_icon4{
  display: block;
  width: 0.9rem;
  height: 0.85rem;
  background: url('../images/store_bottom_dianpu_icon4@2x.png') no-repeat;
  background-size: cover;
  margin: 0.375rem auto 0.25rem auto;
}
/* foot */
/* cart */
.cart{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0,0,0,.3);
  z-index: 99999;
  margin-bottom: 2.45rem;
  display: none;
}
.cart .cart_box_h{
  width: 100%;
  min-height: 7.25rem;
  max-height: 16rem;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.cart .cart_box_h .cart_top{
  height: 1.75rem;
  line-height: 1.75rem;
  padding: 0 0.7rem 0 0.95rem;
  background: rgb(245,245,245);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.cart .cart_box_h .sanjiaoxing_box{
  width: 100%;
  position: relative;
}
.cart .cart_box_h .sanjiaoxing_box .sanjiaoxing{
  position: absolute;
  left: 1rem;
  top: -1rem;
  width: 2.1rem;
  height: 1.0rem;
  background: url('../images/buy_cart_triangle@2x.png') no-repeat;
  background-size: cover;
}
.cart .cart_box_h .sanjiaoxing_box .open_cart_kuang{
  position: absolute;
  left: 0.8rem;
  top: -2.55rem;
}
.cart .cart_box_h .sanjiaoxing_box .open_cart_kuang .cart_kuang{
  width: 2.5rem;
  height: 2.5rem;
  background: rgb(241,245,248);
  border-radius: 50%;
  margin-top: -1.375rem;
  position: relative;
  float: left;
}
.cart .cart_box_h .sanjiaoxing_box .open_cart_kuang .cart_kuang_img{
  width: 2.325rem;
  height: 2.3rem;
  border-radius: 50%;
  background: url('../images/buy_cart@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  -webkit-transform:translate(0,-50%);
  transform:translate(0,-50%);
}
.cart .cart_box_h .sanjiaoxing_box .open_cart_kuang .cart_kuang_img .goods_number{
  display: block;
  position: absolute;
  right: 0;
  bottom: 0.4rem;
  min-width: 1.0rem;
  height: 0.75rem;
  line-height: 0.85rem;
  font-size: 0.55rem;
  color: #fff;
  text-align: center;
  background-color: rgb(243,69,76);
  border-radius: 0.35rem;
}
.cart .cart_box_h .cart_top span:nth-child(1){
  font-size: 0.7rem;
  color: #909090;
  font-weight: 600;
}
.cart .cart_box_h .cart_top span:nth-child(2){
  font-size: 0.6rem;
  color: #909090;
  position: relative;
}
.cart .cart_box_h .cart_top span:nth-child(2):after{
  content: "";
  display: block;
  width: 0.75rem;
  height: 0.775rem;
  background: url('../images/cart_toust_delete@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform:translate(0,-50%);
  transform:translate(0,-50%);
}
.cart .cart_box_h .cart_list{
  min-height: 7.25rem;
  max-height: 16rem;
  overflow: auto;
  padding-bottom: 2.45rem;
}
.cart .cart_box_h .cart_list>li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.05rem 0.7rem 1.05rem 0.95rem;
  border-bottom: 0.05rem solid rgb(241,245,248);
  color:rgb(56,54,56);
}
.cart .cart_box_h .cart_list>li span:nth-child(1){
  -webkit-box-flex: 5.5;
  -ms-flex: 5.5;
  flex: 5.5;
  line-height: normal;
  font-weight: 600;
}
.cart .cart_box_h .cart_list>li span:nth-child(2){
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  white-space: nowrap;
  font-weight: 600;
}
.cart .cart_box_h .cart_list>li .cart_alert_btn{
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  text-align: right;
}
.cart .cart_box_h .cart_list .cart_alert_btn .goods_btn .cart_box{
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  line-height: 1.1rem;
  font-size: 0.6rem;
  color: #6f6b6b;
  border-radius: 0.05rem;
}
.cart .cart_box_h .cart_list .cart_alert_btn .goods_btn{
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.cart .cart_box_h .cart_list .cart_alert_btn .goods_btn .delect_cart_btn{
  width: 1.1rem;
  height: 1.1rem;
}
.cart .cart_box_h .cart_list .cart_alert_btn .goods_btn .delect_cart_inpt{
  width: 2.2rem;
  height: 1.1rem;

}
.cart .cart_box_h .cart_list .cart_alert_btn .goods_btn .add_cart_btn{
  width: 1.1rem;
  height: 1.1rem;
  background-color: #fd5762;
}
.cart .cart_box_h .cart_list .cart_alert_btn .cart_border a{
  border: 0.05rem solid #f2f6f9;
  color: #fff;
}
.cart .cart_box_h .cart_list .cart_alert_btn .cart_border .add_cart_btn{
  background-color: #fd5762;
  color: #fff;
}
.cart .cart_box_h .cart_list .cart_alert_btn .action .add_cart_btn{
  background-color: #fd5762;
  color: #fff;
}
/* cart */






/**商家详情**/
/* 商家介绍 */
.tab_jiashao{
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 2.5rem;
  display: none;
}
.tab_jiashao .js_head{
  width: 100%;
  height: 11.0rem;
  position: relative;
  overflow: hidden;
}
.tab_jiashao .head_top{
  margin-top: 0.8rem;
  width: 100%;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.tab_jiashao .head_top .sj_js_name{
  margin: .4rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 1.8rem;
}
.tab_jiashao .head_top .sj_js_name p{
  font-size: 0.9rem;
  color: #ffffff;
  text-align: center;
  overflow: hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.tab_jiashao .head_top .sj_js_name .js_fenxinag{
  position: absolute;
  right: 0.8rem;
  width: 0.925rem;
  height: 1.0rem;
  background: url('../images/share_light@2x.png') no-repeat;
  background-size: cover;
}
.tab_jiashao .js_head .js_head_bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px);
  overflow: hidden;
}
.tab_jiashao .js_head .shop_btn_box{
  height: 1.575rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.0rem;
  padding: 0 1.5rem;
}
.tab_jiashao .js_head .shop_btn_box .btn_item{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.75rem;
  color: #fff;
  position: relative;
  padding: 0.25rem 0;
  opacity: 0.5;
}
.tab_jiashao .js_head .shop_btn_box .btn_item .i_btn_item{
  display: block;
  margin: 0.1rem 0.3rem 0 0;
}
.tab_jiashao .js_head .shop_btn_box .btn_item .btn_item1_icon{
  width: 0.65rem;
  height: 0.6rem;
  background: url('../images/dian_icon@2x.png') no-repeat;
  background-size: cover;
}
.tab_jiashao .js_head .shop_btn_box .btn_item .btn_item2_icon{
  width: 0.6rem;
  height: 0.6rem;
  background: url('../images/jieshao_icon@2x.png') no-repeat;
  background-size: cover;
}
.tab_jiashao .js_head .shop_btn_box .btn_item .btn_item3_icon{
  width: 0.575rem;
  height: 0.6rem;
  background: url('../images/xiaoxi_icon@2x.png') no-repeat;
  background-size: cover;
}
.tab_jiashao .js_head .shop_btn_box .active{
  opacity: 1;
  color: #fff;
}
.tab_jiashao .js_head .shop_btn_box .active:after{
  content: "";
  display: block;
  width: 75%;
  height: 0.1rem;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
.tab_jiashao .shop_xq{
  width: 100%;
  height: 8.7rem;
  background: #fff;
  padding: 0 0.6rem;
}
.tab_jiashao .shop_xq .xq_box{
  position: relative;
  width: 100%;
  height: 8.7rem;
  background: #fff;
  margin-top: -5.4rem;
  border-radius: 0.6rem;
  padding: 0;
}
.tab_jiashao .shop_xq .xq_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.6rem;
}
.tab_jiashao .js_shop_name{
  font-size: 0.8rem;
  color: #040404;
  padding: 0.75rem 0.6rem 0.55rem 0.6rem;
  border-bottom: 0.025rem solid #f4f4f4;
}
.tab_jiashao .js_shop_dizhi{
  padding: 0.8rem 3.45rem 1.6rem 0.6rem;
  font-size: 0.6rem;
  color: #333333;
  position: relative;
}
.tab_jiashao .js_shop_dizhi > i{
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background: url('../images/business_profile_position@2x.png') no-repeat;
  background-size: cover;
  margin-right: 0.4rem;
  vertical-align: bottom;
}
.tab_jiashao .js_shop_dizhi > .dizhi_img{
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: url('../images/business_profile_phone@2x.png') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
}
.tab_jiashao > .js_main{
  background: #f4f4f4;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box{
  padding: 0 0.6rem;
  background: #ffffff;
}
.tab_jiashao > .js_main > .js_main_bt{
  margin-top: 0.4rem;
}
.tab_jiashao > .js_main > .js_main_box > h2{
  font-size: 0.9rem;
  color: #040404;
  padding: 0.8rem 0 1.2rem 0;
}
.tab_jiashao > .js_main > .js_main_box >.yingye_date{
  color: #040404;
  padding-bottom: 0.8rem;
  margin: 0 0.6rem;
  border-bottom: 0.05rem solid #f4f4f4;
}
.tab_jiashao > .js_main > .js_main_box >.pinpai{
  padding: 1.2rem 0.6rem 0.6rem 0.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.tab_jiashao > .js_main > .js_main_box >.pinpai > .pinpai_item{
  font-size: 0.6rem;
  color: #646464;
  position: relative;
}
.tab_jiashao > .js_main > .js_main_box >.pinpai > .pinpai_item i{
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  background: url('../images/sure@2x.png') no-repeat;
  background-size: cover;
  margin-right: 0.4rem;
  vertical-align: -.1rem;
}
.tab_jiashao > .js_main > .js_main_box > .liansuo_box{
  padding: 0 1.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-bottom: 0.05rem solid #f4f4f4;
}
.tab_jiashao > .js_main > .js_main_box > .liansuo_box > .liansuo_item{
  overflow: hidden;
  position: relative;
  max-width: 5rem;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.tab_jiashao > .js_main > .js_main_box > .liansuo_box > .liansuo_item > span{
  display: block;
  width: 3.0rem;
  height: 3.0rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  /* bottom: 0; */
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -moz-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
}
.tab_jiashao > .js_main > .js_main_box > .liansuo_box > .liansuo_item > span img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.tab_jiashao > .js_main > .js_main_box > .liansuo_box > .liansuo_item > p{
  font-size: 0.6rem;
  color: #040404;
  margin: 3.55rem 0 1.2rem 0;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box > .zixun_box{
  height: 8.8rem;
  overflow: hidden;
  position: relative;
}
.tab_jiashao > .js_main > .js_main_box > .zixun_box img{
  width: 100%;
  height: auto;
  border-radius: 0.6rem;
}
.tab_jiashao > .js_main > .js_main_box > .zixun_box .zixun_box_moban{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  background: rgba(0, 0, 0, 0.15)
}
.tab_jiashao > .js_main > .js_main_box > .zixun_box .zixun_title{
  font-size: 0.75rem;
  color: #ffffff;
  text-align: left;
  position: absolute;
  left: 0.7rem;
  bottom: 0.525rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.tab_jiashao > .js_main > .js_main_box > .pinglun{
  padding-top: 0.6rem;
  padding-bottom: 1.0rem;
  font-size: 0.65rem;
  color: #909090;
}
.tab_jiashao > .js_main > .js_main_box > .pinglun span{
  display: inline-block;
}
.tab_jiashao > .js_main > .js_main_box > .pinglun .watch::before{
  content: " ";
  display: inline-block;
  width: 0.55rem;
  height: 0.4rem;
  background: url('../images/business_profile_browse@2x.png') no-repeat;
  background-size: cover;
  margin-right: 0.5rem;
}
.tab_jiashao > .js_main > .js_main_box > .pinglun .up{
  margin-left: 1.0rem;
}
.tab_jiashao > .js_main > .js_main_box > .pinglun .up::before{
  content: " ";
  display: inline-block;
  width: 0.55rem;
  height: 0.55rem;
  background: url('../images/business_profile_likes@2x.png') no-repeat;
  background-size: cover;
  margin-right: 0.5rem;
}
.tab_jiashao > .js_main > .js_main_bt36{
  margin-top: 0.9rem;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao{
  padding: 0 0.35rem;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item{
  width: 50%;
  float: left;
  padding: 0 0.25rem;
  margin-bottom: 0.55rem;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item > .item_box{
  border: 0.05rem solid #d5d5d5;
  border-radius: 0.4rem;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .img_box{
  height: 8.45rem;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .img_box img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .title_box{
  height: 3.9rem;
  overflow: hidden;
  padding: 0.4rem 0 0.75rem 0.5rem;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .title_box > h3{
  font-size: 0.6rem;
  color: #040404;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .title_box > .price{
  font-size: 0.5rem;
  color: #fd4854;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0.3rem;
  margin-bottom: 0.35rem;
  font-weight: 600;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .title_box > .dizhi{
  font-size: 0.55rem;
  color: #909090;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tab_jiashao > .js_main > .js_main_box > .changxiao > .item .title_box > .dizhi::before{
  content: " ";
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  background: url('../images/hot_sale_position@2x.png') no-repeat;
  background-size: cover;
  margin-right: 0.4rem;
}
/* 商家介绍 */

