@charset "UTF-8";
.page{
  background: #f4f4f4;
}
.g-flexview{
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  max-width: 750px;
  min-width: 320px;
}
.g-scrollview{
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
}
.g-scrollview {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
/* 头部通用 */
.header {
    width: 100%;
    background: #ffffff;
    line-height: 0.95rem;
    height: 2.35rem;
    text-align: center;
    color: #040404;
    padding: 0.7rem 0;
    position: relative;
}
.icon_left {
    width: 0.95rem;
    height: 0.95rem;
    display: block;
    position: absolute;
    top: 0.625rem;
    left: 0.8rem;
}
.icon_left::after{
  content: '';
  width: 0.95rem;
  height: 0.95rem;
  display: block;
  background-image: url(../images/icon_left@2.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.list-block{
  margin: 0;
}
.list-block ul{
  border: none;
}
.list-block .item-title{
  color: #909090;
  font-size: 0.7rem;
}
.list-block .item-content{
  padding-left: 1.4rem;
}
.list-block .item-after{
  font-size: 0.7rem;
  color: #fe483d;
}
.item-after.name{
  font-size: 0.7rem;
  color: #040404;
}
.item-after.name input {
    font-size: 0.7rem;
    color: #040404;
    border: none;
    display: inline-block;
    height: unset;
    width: unset;
    box-sizing: unset;
    -webkit-appearance: unset;
    padding: unset;
    margin: unset;
    font-family: unset;
    background: unset;
    text-align: right;
}
.list-block .item-inner{
  padding-right: 1.0rem;
}
.button-danger.button-fill{
  background: -webkit-linear-gradient(90deg,#fb7458, #fd4854); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(90deg,#fb7458, #fd4854); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(90deg,#fb7458, #fd4854); /* Firefox 3.6 - 15 */
  background: linear-gradient(90deg,#fb7458, #fd4854); /* 标准的语法 */
  margin: 0 0.4rem;
}
.withdraw_apply {
    width: 100%;
    margin-top: 0.525rem;
    /* margin-bottom: 1.625rem; */
    height: 12.375rem;
    background: #fff;
}
.withdraw_apply_content{
  height: 8.025rem;
  padding-left: 1.4rem;
}
.withdraw_apply_content .item-title{
  font-size: 0.7rem;
  color: #909090;
  padding-top: 0.9rem;
}
.withdraw_apply_content .input_amount{
  padding-top: 2.6rem;
  position: relative;
}
.withdraw_apply_content .input_amount::before{
  content: "￥";
  width: 0.625rem;
  height: 0.85rem;
  position: absolute;
  bottom: 0.4rem;
  left: 0;
}
.withdraw_apply_content .input_amount .amount {
    width: 100%;
    height: 2rem;
    border: none;
    padding-left: 1.2rem;
    font-size: 2.0rem;
    color: #040404;
}
.top .item-inner {
    border-top: 0.05rem solid #f4f4f4!important;
}
.bottom .item-inner {
    border-bottom: 0.05rem solid #f4f4f4!important;
}
.demo-tip{
  font-size: 0.65rem;
  color: #909090;
  /* padding-top: 1.05rem; */
  padding-left: 0.8rem;
  padding-right: 0.875rem;
  padding-bottom: 1.05rem;
}
.demo-tip p {
  margin-bottom: 0.55rem;
}
.safe_password{
  margin-top: 0.575rem;
  margin-bottom: 0.8rem;
}
.safe_password .list-block .item-content .item-title{
  color: #040404;
  font-size: 0.7rem;
  width: 20%;
}
.safe_password .list-block .item-content .item-input input{
  color: #b8b8b8;
  font-size: 0.65rem;
}
